.venv
.vscode
*.pyc
__pycache__
env3.7
env3.6
dist
.mypy_cache
.idea
site
.coverage
htmlcov
examples/3.0_prodigy.ipynb
examples/4.0_augmentation.ipynb
examples/cs_data*.ipynb
examples/skills_data*.ipynb
examples/models/*
examples/data/wnut17
examples/test*
*.bin
**/.ipynb_checkpoints
**/.pytest_cache
.pytest_cache
.spacy3-venv
